* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 635px;
    background: url("../img/background.jpg") center;
    background-size: cover;

}

.header-block {
    width: 100%;
    padding: 10px 50px 10px 0;
    background: #28282A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

.header_logo {
    font-family: Righteous;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    font-size: 48px;
    color: #fff;
}
.header_logo p {
    cursor: pointer;
}
.header_logo img {
    border-radius: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header-block > p {
    font-family: Righteous;
    font-size: 20px;
    color: #fff;

}

.header-text {
    height: 635px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text-block {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    background: rgba(30, 30, 30, 0.6);
    border-radius: 15px;
    align-items: center;
    padding: 20px 10px 20px 10px;

}

.header-text-block h1, .header-text-block p {
    font-family: Righteous;
    text-align: center;
    color: white;
    font-size: 24px;
}

.header-text-block h1 {
    font-size: 32px;
}

.header-text-block span {
    display: block;
    width: 48px;
    height: 6px;
    background: #A6B6A9;
}

.header-text-block .header_span {
    display: block;
    width: 48px;
    height: 6px;
    background: #5D7279;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.wrapper-main {
    width: 100%;
    max-width: 1200px;
    padding: 80px 10px 80px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.main-o-nas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    box-sizing: border-box;
}

.main-o-nas h2 {
    font-family: Roboto Condensed;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-o-nas span {
    display: block;
    width: 48px;
    height: 3px;
    background: #A6B6A9;
    margin-top: 8px;
}

.main-text-o-nas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.main-text-o-nas p {
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.main-text-o-nas h3 {
    font-family: Roboto Condensed;
    font-size: 22px;
}

.otvechaem_za {
    padding: 40px 0 0 0;
}

.otvechaem_za > h3 {
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    font-family: Roboto Condensed;
    font-size: 30px;
}

.otvechaem_za_bottom {
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
}

.ozb_1 {
    display: flex;
    flex-direction: column;
}

.ozb_1 > h4 {
    padding-bottom: 10px;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 500;
}

.ozb_1 > p {
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 300;
}

.wrapper_slider {
    padding-bottom: 80px;
}

.wrapper_slider h2 {
    padding-bottom: 40px;
    font-family: Roboto Condensed;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_slider span {
    display: block;
    width: 48px;
    height: 3px;
    background: #A6B6A9;
    margin-top: 8px;
}

.slider {
    position: relative;
    padding: 0 30px;
}

.slider__item {
    text-align: center;
    opacity: 0.4;
    transition: all 0.3s ease 0s;
}

.slider__item.slick-center {
    opacity: 1;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 4;
    font-size: 0;
    width: 20px;
    height: 40px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url("/img/Slider/sl-arrow_l.svg") 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url("/img/Slider/sl-arrow_r.svg") 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.slider .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 2px solid black;
}

/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Слайдер запущений */
.slick-slider.slick-initialized {
}

/* Слайдер з крапками */
.slick-slider.slick-dotted {
}

/* Обмежувальна оболонка */
.slick-list {
    overflow: hidden;
}

/* Стрічка слайдів */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайд */
.slick-slide {

}

/* Слайд активний (показується) */
.slick-slide.slick-active {
}

/* Слайд основний */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {
}

/* Клонований слайд */
.slick-slide.slick-cloned {
}

/* Стрілка */
.slick-arrow {
}

/* Стрілка вліво */
.slick-arrow.slick-prev {
}

/* Стрілка вправо */
.slick-arrow.slick-next {
}

/* Стрілка не активна */
.slick-arrow.slick-disabled {
}

/* Точки (буліти) */
.slick-dots {
}

.slick-dots li {
}

/* Активна точка */
.slick-dots li.slick-active {
}

/* Елемент точки */
.slick-dots li button {
}

.kontakt {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.kontakt_text {
    width: 70%;
    padding: 50px 60px;
    background: #5D7279;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(4em, 4em, -10px);
    z-index: 3;
    opacity: 95%;
}

.kontakt_img {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    position: relative;
}

.kontakt_background {
    background: url("/img/BackgroundKontackt.png");
    position: absolute;
    inset: -67px 0px 0px -67px;
    width: 100%;
}

.kontakt_img img {
    position: absolute;
    inset: -24px 0px 0px -15px;
    width: 100%;
    max-height: 360px;
    max-width: 500px;
    object-fit: cover;
    object-position: center top;
}

.kontakt_text h2 {
    padding-bottom: 40px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 800;
}

.kontakt_text p {
    padding-bottom: 40px;
    font-size: 26px;
    color: #ffffff;
    font-weight: 500;
}

.footer {
    width: 100%;
    padding-bottom: 30px;
    background: rgba(247, 255, 243, 0.47);
    display: flex;
    column-gap: 100px;
    align-items: flex-start;
}

.footer > div {
    padding: 40px 0 0 40px;
}

.footer p {
    font-family: Roboto Condensed;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.footer a {
    background: rgb(218, 218, 218);
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 15px;
    cursor: pointer;
}

.footer img {
    display: block;
    height: 22px;
}

.footer-icons {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.span {
    margin-top: 3px;
    display: block;
    width: 28px;
    height: 2px;
    background: #A6B6A9;
    margin-bottom: 8px;
}

@media all and (max-width: 900px) {


    .kontakt_text {
        flex-basis: 100%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 100%;
        transform: translate3d(0, 0, 0)
    }

    .kontakt_img {
        display: none;
    }

    .main-uslugi {
        flex-direction: column;
    }

    .main-uslugi button {
        width: 100%;
    }
}

@media all and (max-width: 600px) {

    .footer {
        flex-direction: column;
    }

    .header-text-block{
        width: 90%;
    }

    .header-block{
        padding: 10px 10px 10px 0;
        flex-direction: column;
        justify-content: center;
    }
    .header-block .header_logo{
        padding: 0;
    }
    .otvechaem_za_bottom {
        flex-wrap: wrap;
    }

    .ozb_1 {
        width: 100%;
        max-width: 600px;
        padding: 20px 0px 20px 0px;
    }

    .ozb_1 h4 {
        text-align: center;
    }

    .ozb_1 p {
        text-align: justify;
    }
}

@media all and (max-width: 400px){
    .header-text-block h1{
        font-size: 22px;
    }
    .header-text-block p{
        font-size: 14px;
    }
}
