* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.header-block {
    width: 100%;
    padding: 10px 50px 10px 0;
    background: #28282A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header_logo {
    font-family: Righteous;
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    font-size: 48px;
    color: #fff;
}

.header_logo p {
    cursor: pointer;
}

.header_logo img {
    border-radius: 15px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header-block > p {
    font-family: Righteous;
    font-size: 20px;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper-main {
    width: 100%;
    max-width: 1200px;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.wrapper-main h2 {
    font-family: Roboto Condensed;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.wrapper-main span {
    margin-top: 3px;
    display: block;
    width: 48px;
    height: 5px;
    background: #A6B6A9;
    margin-bottom: 8px;
}

.footer {
    width: 100%;
    padding-bottom: 30px;
    background: rgba(247, 255, 243, 0.47);
    display: flex;
    column-gap: 100px;
    align-items: flex-start;
}

.footer > div {
    padding: 40px 0 0 40px;
}

.footer p {
    font-family: Roboto Condensed;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

.footer a {
    background: rgb(218, 218, 218);
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8px;
    border-radius: 15px;
    cursor: pointer;
}

.footer img {
    display: block;
    height: 22px;
}

.footer-icons {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.span {
    margin-top: 3px;
    display: block;
    width: 28px;
    height: 2px;
    background: #A6B6A9;
    margin-bottom: 8px;
}


.container {
    padding: 20px;
    padding-top: 40px;
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
}
 .photo-img{
    height: 44vh;
}
.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media all and (max-width: 600px) {
    .header-block{
        padding: 10px 10px 10px 0;
        flex-direction: column;
        justify-content: center;
    }
    .header-block .header_logo{
        padding: 0;
    }
    .photo-img{
        height: 34vh;
    }
    .footer {
        flex-direction: column;
    }
    figcaption{
        font-size: 0.8em;
    }
}

@media all and (max-width: 420px) {
    .photo-img{
        height: 25vh;
    }
}

