* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.wrapper-main{
    width: 100%;
    max-width: 1200px;
    padding: 80px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.main-uslugi-section h2 {
    font-family: Roboto Condensed;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-uslugi-section > span {
    display: block;
    width: 48px;
    height: 3px;
    background: #A6B6A9;
    margin-top: 8px;
}

.main-uslugi-section {
    padding: 80px 20px 80px 20px;
}

.main-uslugi{
    display: flex;
    flex-wrap: wrap;
}

.main-uslugi-section h2 {
    padding: 0 0 40px;
}

.bg_20, .bg_40_1, .bg_40_2 {
    border: 2px solid #fff;
    height: 40vh;
}

.bg_40_1, .bg_40_2 {
    width: 40%;
}

.bg_20 {
    width: 20%;
}

.bg_40_1_image{
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-position: center 40%;

}

.bg_40_1 .spanieruo{
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}


button p .imageMarked {
    height: 3px;
    width: 28px;
    background: #A6B6A9;
    position: absolute;
    bottom: -2px;
    left: calc(50% - 16px);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.main-uslugi p {
    font-family: Roboto Condensed, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    padding: 16px 32px 14px;
}