/*
* Photo Gallery — Practice
* CSS Styles
*
* Start typing your code under these comments
*/

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}



.photo a:hover {
    opacity: 0.5;
}
.photo a {
    display: block;
    position: relative;
}
.photo a:after {
    content: 'my';
    background: transparent url(../img/icons/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: 10px;

    visibility: hidden;
}
#photo:hover > a:after {
    visibility: visible;
}
.photo figcaption {
    color: crimson;
    text-align: center;
}




* {
    font-family: 'Marck Script', cursive;
    padding: 0;
}

figure.photo {
    width: 0;
    height: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    overflow: hidden;
    border: none;
}
figure.photo:first-child {
    width: 250px;
    height: 150px;
}

figure.photo:first-child img {
    width: 100%;
}
figure.photo1 {
    width: 0;
    height: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    overflow: hidden;
    border: none;
}
figure.photo1:first-child {
    width: 250px;
    height: 150px;
}

figure.photo1:first-child img {
    width: 100%;
}